<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
		">
	
	<security:http pattern="/js/**" security="none"/>
	<security:http pattern="/css/**" security="none"/>
	<security:http pattern="/static/**" security="none"/>
		
	<security:http disable-url-rewriting="true"  use-expressions="true" entry-point-ref="ajaxAwareAuthenticationEntryPoint">
		<security:anonymous username="anonymous" granted-authority="ROLE_ANONYMOUS" />
		<security:access-denied-handler ref="ajaxAwareAccessDenyHandler"/>
		<security:request-cache ref="ajaxAwareHttpSessionRequestCache"/>
		<security:session-management session-fixation-protection="migrateSession" invalid-session-strategy-ref="ajaxAwareInvalidSessionStrategy" />
		
		<!-- security:remember-me key="yacceleratorstorefront" services-ref="rememberMeServices"/ -->
		<security:intercept-url pattern="/html/template.html" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_CUSTOMER')" requires-channel="https"/>
		<security:intercept-url pattern="/html/login.html" access="hasAnyRole('ROLE_ANONYMOUS', 'ROLE_CUSTOMER')" requires-channel="https"/>
		<security:intercept-url pattern="/html/*" access="hasRole('ROLE_CUSTOMER')" requires-channel="https" />
		<security:intercept-url pattern="/test*" access="hasRole('ROLE_ADMIN')" requires-channel="https" />
		<security:form-login login-page="/html/login.html"  
		authentication-success-handler-ref="ajaxAwareUrlAuthSuccessHandler" 
		authentication-failure-handler-ref="ajaxAwareUrlAuthFailureHandler" />
		<security:logout logout-success-url="/html/login.html" />	
		<security:csrf disabled="true"/>
		<security:port-mappings>
			<security:port-mapping http="8080" https="8443" />
		</security:port-mappings>
	</security:http> 
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="jimi" password="jimispassword" authorities="ROLE_CUSTOMER, ROLE_ADMIN" />
				<security:user name="bob" password="bobspassword" authorities="ROLE_CUSTOMER" />
			</security:user-service>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<security:debug/>
	
	<bean id="ajaxAwareAccessDenyHandler" class="org.wsipersd.core.security.web.AjaxAwareAccessDenyHandler">
		<property name="errorPage" value="/static/accessDenied.html"/>
		<property name="ajaxResponseErrorCode" value="902"/>
	</bean>
	
	<bean id="ajaxAwareInvalidSessionStrategy" class="org.wsipersd.core.security.web.AjaxAwareInvalidSessionStrategy">
		<property name="destinationUrl" value="/html/login.html"/>
		<property name="ajaxResponseErrorCode" value="903"/>
	</bean>
	
	<bean id="ajaxAwareUrlAuthSuccessHandler" class="org.wsipersd.core.security.web.AjaxAwareAuthenticationSuccessHandler">
		<!--  constructor-arg index="0" type="java.lang.String" value="/html/homePage.html"></constructor-arg -->
	</bean>
	
	<bean id="ajaxAwareUrlAuthFailureHandler" class="org.wsipersd.core.security.web.AjaxAwareUrlAuthFailureHandler">
		<constructor-arg index="0" type="java.lang.String" value="/html/login.html"></constructor-arg>
		<property name="ajaxResponseErrorCode" value="901"/>
	</bean>
	
	<bean id="ajaxAwareAuthenticationEntryPoint" class="org.wsipersd.core.security.web.AjaxAwareAuthenticationEntryPoint">
		<constructor-arg index="0" type="java.lang.String" value="/html/login.html"></constructor-arg>
		<property name="ajaxResponseErrorCode" value="901"/>
	</bean>
	
	<bean id="ajaxAwareHttpSessionRequestCache" class="org.wsipersd.core.security.web.AjaxAwareHttpSessionRequestCache">
	</bean>
</beans>
	
	